/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

@keyframes move {
  from {
    scale: 1;
  }
  60% {
    scale: 1.15;
  }
  to {
    scale: 1;
  }
}

@keyframes upSparks {
  from {
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  70% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes animationArrow {
  0% {
    right: 0;
  }
  100% {
    right: 4px;
  }
}

/* SVG Like (сердечко) */

.contour {
  transition: 0.1s linear;
}

.main-body {
  opacity: 0;
  fill: transparent;
  transition: 0.3s linear;
}

.core {
  opacity: 0;
  fill: transparent;
  transition: 0.5s linear;
}

.sparks {
  opacity: 0;
}

.like-icon.is-liked .heart {
  transform-origin: center;
}

.like-icon:hover {
  fill: none;
  cursor: pointer;
  transition: linear;
  &.like-icon path:nth-last-of-type(2) {
    opacity: 1;
    fill: var(--main-color, rgba(0, 0, 0, 1));
    transition: opacity 0.5s linear;
    transition-delay: 0.3s;
  }
  &.like-icon path:nth-child(3) {
    opacity: 1;
    fill: var(--main-color, rgba(0, 0, 0, 1));
    transition: opacity 0.3s linear;
    transition-delay: 0.1s;
  }
}

.like-icon:active {
  &.like-icon path:nth-last-of-type(2) {
    fill: var(--like-heart, rgba(255, 0, 0, 1));
    transition: 0.5s;
  }
  &.like-icon path:nth-child(3) {
    fill: var(--like-heart, rgba(255, 0, 0, 1));
    transition: 0.3s;
  }
}

/* Анимация при клике на кнопку Like */

.like-icon {
  transition: 3s linear;
  &.is-liked .contour {
    transform-origin: center center;
    transition: 0.6s;
    fill: var(--like-heart, rgba(255, 0, 0, 1));
    animation: move 0.3s ease-in; /* имя анимации, длительность и свойства анимации */
    animation-delay: 0.1s; /* время задержки */
  }
  &.is-liked .main-body {
    opacity: 1;
    transform-origin: center center;
    transition: 0.5s;
    fill: var(--like-heart, rgba(255, 0, 0, 1));
    animation: move 3s ease-in;
    animation-delay: 0.1s; /* время задержки */
    animation-duration: 0.3s;
  }
  &.is-liked .core {
    opacity: 1;
    transform-origin: center center;
    transition: 0.3s;
    fill: var(--like-heart, rgba(255, 0, 0, 1));
    animation: move 3s ease-in;
    animation-delay: 0.1s; /* время задержки */
    animation-duration: 0.3s;
  }
  &.is-liked .sparks {
    transform-origin: center center;
    fill: var(--like-heart, rgba(255, 0, 0, 1));
    animation: upSparks 0.3s ease-in;
    animation-delay: 0.3s; /* время задержки */
  }
}

/* Наведение при уже лайкнотой кнопке, 
где середина закрашена красным */

.like-icon.is-liked:hover {
  &.like-icon path:nth-last-of-type(2) {
    opacity: 1;
    fill: var(--like-heart, rgba(255, 0, 0, 1));
    transition: opacity 0.5s linear;
    transition-delay: 0.3s;
  }
  &.like-icon path:nth-child(3) {
    opacity: 1;
    fill: var(--like-, rgba(255, 0, 0, 1));
    transition: opacity 0.3s linear;
    transition-delay: 0.1s;
  }
}
