/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

/* * { outline: 1px solid #06daf7;} */

/* Тело страницы */

.page {
  display: grid;
  background-color: var(--background-color, rgba(255, 255, 255, 1));
  height: 100vh;
  width: 100%;
  font-variation-settings: var(--main-font-wght, 400);
  background-size: cover;
  background-attachment: fixed;
  background-image: repeating-linear-gradient(
      to right,
      var(--bg-color-horizontal, rgb(211 211 211)) 0px 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(
      to bottom,
      var(--bg-color-vertical, rgb(231 231 231)) 0px 2px,
      transparent 2px 4px
    ),
    linear-gradient(
      to bottom,
      var(--bg-gradient-top, rgb(231 231 231)) 0.01%,
      var(--bg-gradient-bottom, rgb(26 26 26)) 100%
    );
}

/* Первый блок страницы с заголовком и меню */

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid var(--main-color, rgba(0, 0, 0, 1));
  margin: 100px auto 101px;
  background-color: var(--background-color, rgba(255, 255, 255, 1));
}

.title {
  font-family: var(--accent-font, sans-serif);
  font-size: clamp(3.063rem, 2.71rem + 1.5vw, 4.063rem);
  color: var(--main-color, rgba(0, 0, 0, 1));
  text-transform: uppercase;
  padding-block-start: clamp(7.5rem, 7.153rem + 1.684vw, 8.5rem);
  padding-inline-start: clamp(0.556rem, -1.89rem + 11.737vw, 7.5rem);
  padding-inline-end: clamp(0.556rem, -1.89rem + 11.737vw, 7.5rem);
}

.title__description {
  font-family: var(--accent-font, sans-serif);
  font-size: clamp(0.875rem, 0.677rem + 0.85vw, 1.438rem);
  color: var(--main-color, rgba(0, 0, 0, 1));
  text-transform: uppercase;
  padding-block-start: 20px;
  padding-inline-start: clamp(4.938rem, 2.814rem + 9.061vw, 10.969rem);
  padding-inline-end: clamp(4.938rem, 2.814rem + 9.061vw, 10.969rem);
}

.header__theme-menu {
  padding-block-start: 25px;
  padding-block-end: 22px;
  padding-inline-start: clamp(8.556rem, 5.406rem + 15.117vw, 17.5rem);
  padding-inline-end: clamp(7.389rem, 4.181rem + 15.399vw, 16.5rem);
}

.theme-menu__item:not(:last-of-type) {
  padding-block-end: 0.53rem;
}

.theme-menu__item {
  cursor: pointer;
}

.theme-menu__item:focus-visible {
  transition: color 0.5s;
}

.theme-menu__button {
  font-family: var(--accent-font, sans-serif);
  font-size: 13.5px;
  color: var(--main-color, rgba(0, 0, 0, 1));
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.theme-menu__button:enabled {
  &::before {
    display: none;
  }
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
  &::before {
    content: "▶";
    position: absolute;
    left: calc(-10rem + 4.35rem);
    display: inline-block;
    animation: animationArrow 0.5s infinite alternate-reverse ease-in-out;
  }
}

.theme-menu__button:hover {
  opacity: 0.6;
  transition: 0.3s ease;
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
}

.theme-menu__button::after {
  content: "";
  display: block;
  height: 2px;
  transform: scaleX(0);
}

.theme-menu__button:focus-visible::after {
  background-color: var(--main-color, rgba(0, 0, 0, 1));
  transition: transform 0.3s ease;
  transform: scaleX(1);
  transform-origin: 0% 100%;
}

/* Кнопка */

.card__button-like {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1.5rem;
  gap: 6px;
}

.card__icon-button {
  border: transparent;
  cursor: pointer;
  background-color: transparent;
  transition-delay: 0.1s;
  margin: 0;
  padding: 0;
  height: 2.2em;
}

.card__icon-button:focus {
  border: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--main-color, rgba(0, 0, 0, 1));
  transition: 0.3s ease;
}

.button {
  position: relative;
  z-index: 1;
  cursor: pointer;
  color: var(--main-color, rgba(0, 0, 0, 1));
  font-family: var(--accent-font, sans-serif);
  border: 2px solid var(--main-color, rgba(0, 0, 0, 1));
  background-color: var(--background-color, gba(255, 255, 255, 1));
}

.button__save-memory {
  display: inline-flex;
  align-items: center;
  padding-inline: 1.2rem;
  padding-block: 0.9rem;
  gap: 7px;
  transition: 0.25s ease-in;
}

.card__like-button {
  border: 2px solid var(--main-color, rgba(0, 0, 0, 1));
  color: var(--main-color, rgba(0, 0, 0, 1));
  font-family: var(--accent-font, sans-serif);
  font-size: 14px;
  background-color: var(--background-color, gba(255, 255, 255, 1));
  cursor: pointer;
  padding: 0;
  min-inline-size: 130px;
  min-block-size: 38px;
}

.button__text {
  font-size: 14px;
  font-weight: 400;
  color: var(--button-text-color, gba(255, 255, 255, 1));
  line-height: 12.6px;
  position: relative;
  z-index: 2;
  mix-blend-mode: difference;
}

.button:before {
  content: "";
  position: absolute;
  inset: 0;
  width: 0;
  z-index: -1;
  background: var(--main-color, rgba(0, 0, 0, 1));
  transition: 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
  inline-size: 100%;
  block-size: 100%;
}

.button:hover:before {
  transform: scaleX(1);
}

.button:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0 var(--main-color, rgba(0, 0, 0, 1));
  transition: 0.3s ease-in-out;
}

/* Посты с записями */

.content {
  display: grid;
  place-items: center;
}

.post {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: clamp(22.417rem, 14.954rem + 35.822vw, 43.611rem);
  background-color: var(--background-color, gba(255, 255, 255, 1));
  border: 2px solid var(--main-color, rgba(0, 0, 0, 1));
}

.post:not(:last-of-type) {
  margin-block-end: 3.22rem;
}

/* Блок с картинкой и ватермаркой */

.blend__mode {
  position: relative;
  max-width: 100%;
  & img {
    outline: 2px solid var(--main-color, rgba(0, 0, 0, 1));
    object-fit: cover;
    object-position: top right;
    max-width: inherit;
    height: clamp(22.5rem, 15.008rem + 35.962vw, 43.778rem);
  }
}

/* Заголовок поста */

.title__card {
  font-family: var(--main-font, sans-serif);
  font-size: 18px;
  font-variation-settings: var(--font-wght-title-card, 700);
  color: var(--main-color, rgba(0, 0, 0, 1));
  padding-block: 5px;
  padding-inline-start: 8px;
  padding-inline-end: 24px;
}

/* Основной текст поста */

.post-text {
  display: flex;
  flex-direction: column;
  gap: 27px;
  font-family: var(--main-font, sans-serif);
  font-size: 18px;
  color: var(--main-color, rgba(0, 0, 0, 1));
  padding-block-start: 1.33rem;
  line-height: 21px;
  letter-spacing: -0.002em;
  padding-inline: 1.5rem;
}

.footer {
  margin: 52px auto;
  margin-bottom: 103px;
}

.label {
  position: absolute;
  top: var(--label-position-top);
  right: var(--label-position-right);
  font-family: var(--accent-font, sans-serif);
  font-size: 14px;
  color: var(--main-color, rgba(0, 0, 0, 1));
  mix-blend-mode: hard-light;
  opacity: 0.5;
}

@supports (text-stroke: 1px var(--background-color, gba(255, 255, 255, 1))) or
  (-webkit-text-stroke: 1px var(--background-color, gba(255, 255, 255, 1))) {
  .label {
    -webkit-text-stroke: 1px var(--background-color, gba(255, 255, 255, 1));
  }
}

/* Всплывающее окно: "Вставьте дискету...*/

.dialog {
  position: fixed;
  background-color: var(--background-color, gba(255, 255, 255, 1));
  border: 2px solid var(--main-color, rgba(0, 0, 0, 1));
  padding: 0;
  z-index: 2;
  inset: 0;
}

.dialog:not([open]) {
  opacity: 0;
  pointer-events: none;
}

.dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.dialog .title__dialog {
  width: 234px;
  color: var(--main-color, rgba(0, 0, 0, 1));
  font-family: var(--accent-font, sans-serif);
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 21px;
}

.dialog button {
  color: #fff;
  padding: 12.5px 132.5px;
  font-family: var(--accent-font, sans-serif);
  font-size: 14px;
  text-transform: uppercase;
  background-color: #ffffff;
  margin: 0 30px 30px 30px;
  cursor: pointer;
}

.dialog .dialog__icon {
  color: var(--background-color, gba(255, 255, 255, 1));
}

.dialog .title__and-icon {
  display: flex;
  gap: 20px;
  margin: 30px 30px 0;
  padding-block-end: 30px;
  align-items: center;
}

/* Иконка дискеты */

#floppy {
  mix-blend-mode: difference;
  color: var(--button-text-color, rgba(255, 255, 255, 1));
}

@media (width <= 375px) {
  .theme-menu__button:disabled {
    &::before {
      left: calc(-10rem + 4.7rem);
    }
  }

  .dialog button {
    padding: 10.5px 112.5px;
    margin-inline: 2.4rem;
  }

  .dialog .title__dialog {
    width: 200px;
  }

  .dialog .title__and-icon {
    margin-inline: 2.5rem;
    gap: 12px;
  }

  .dialog .dialog__icon {
    width: 46px;
    height: 46px;
  }

  .button__save-memory {
    flex-direction: column;
    padding: 20px;
    gap: 4px;
    padding-block: 0.9rem;
    padding-inline: 1.2rem;
  }

  .icon__button-floppy {
    width: 32px;
    height: 32px;
  }

  .post-text {
    gap: 1.7rem;
    padding-block-start: 1.5rem;
    padding-inline-start: 1.5rem;
    padding-inline-end: 1.7rem;
  }

  .card__button-like {
    padding: 1.55rem;
  }

  .title__card {
    padding-block: 0.2rem;
    padding-inline-start: 0.65rem;
  }

  .label {
    top: 1.6rem;
  }

  .post:not(:last-of-type) {
    margin-block-end: 3.2rem;
  }
}
